pandas
numpy
scikit-learn
fastapi

langchain
sentence-transformers
faiss-cpu

openai

google-cloud-vision
google-cloud-storage

tqdm

tiktoken

torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
safetensors


uvicorn[standard]
