# 기본
fastapi
uvicorn[standard]
python-multipart
requests
tqdm
ffmpeg-python
tiktoken
pydantic>=2.7

# 데이터/오디오
pandas==2.3.2
numpy>=1.26,<2
scipy>=1.11          # librosa/pyannote가 필요로 함
soundfile
librosa==0.10.2.post1
transformers>=4.41.0 # pyannote 3.1.1과 호환

# STT (whisper)
openai-whisper==20231117

# PyTorch (CPU 빌드 예시; GPU는 인덱스 변경)
torch==2.3.1
torchaudio==2.3.1


# diarization
pyannote.audio==3.1.1